body {
    image-rendering: pixelated;
    background-color: black;
    overflow: hidden;
}

#plr {
    position: absolute;
    width: 140px;
    top: 40%;
    bottom: 60%;
    left: 10%;
    right: 90%;
    z-index: 100;
}

#ground {
    position: absolute;
    width: 100%;
    left: -1%;
    top: 58%;
}

#moon {
    position: absolute;
    width: 15%;
    left: 85%;
    right: 15%;
}

#hp1 {
    position: absolute;
    width: 7%;
}

#hp2 {
    position: absolute;
    width: 7%;
    left: 6%;
}

#hp3 {
    position: absolute;
    width: 7%;
    left: 11.5%;
}

#highscoret {
    position: absolute;
    color: white;
    font-family: cursive;
    top: 90%;
    left: 2%;
}

#scoret {
    position: absolute;
    color: white;
    font-family: cursive;
    top: 90%;
    left: 45%;
}

#cog {
    position: absolute;
    width: 7%;
    top: 85%;
    left: 92%;
}

#cogdiv {
    position: absolute;
    visibility: hidden;
    background-color: gray;
    border-radius: 2%;
    width: 40%;
    height: 70%;
    left: 30%;
    top: 15%;
    z-index: 1000;
}

#muteb {
    position: absolute;
    width: 15%;
    top: 80%;
    left: 42.5%;
}

#textcog {
    position: absolute;
    left: 5%;
    color: white;
    font-family: cursive;
}

#meto {
    visibility: hidden;
    position: absolute;
    width: 10%;
    left: 100%;
    top: 45%;
}

#spike {
    position: absolute;
    width: 10%;
    top: 40%;
    left: 100%;
}

#menu {
    z-index: 10000;
    position: absolute;
    width: 100%;
    height: 100%;
    left: -1%;
    background-color: black;
}

#menubutton {
    position: absolute;
    width: 15%;
    height: 10%;
    left: 43%;
    top: 50%;
    font-family: cursive;
    font-weight: bold;
    font-size: xx-large;
    color: white;
    background-color: gray;
    border-color: white;
    border-radius: 8px;
}

#headerdiv {
    position: absolute;
    color: white;
    font-size: xxx-large;
    font-weight: bolder;
    font-family: cursive;
    left: 35%;
    top: 10%;
}

#playb {
    visibility: hidden;
    position: absolute;
    width: 15%;
    height: 10%;
    left: 42%;
    top: 50%;
    font-family: cursive;
    font-weight: bold;
    font-size: xx-large;
    color: white;
    background-color: gray;
    border-color: white;
    border-radius: 8px;
    z-index: 10000;
}